.body {
    z-index: 100;
    background: linear-gradient(to top left, #c8e462 0%, #b65e1f 100%);
    color: white;
}

/* .header {
    background-color: rgba(0, 0, 0, .2);
    padding-bottom: 0px;   
} */

.profile_info {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #131921;
    /* padding: 20px; */
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    /* min-height: 200px; */
    padding: 20px;
    /* background-color: aqua; */
    /* justify-content: space-between; */
}

.main_span {
    font-weight: 600;
    font-size: 1.5rem;
}

.secondary_span {
    font-size: small;
}

.sign_out {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: aqua; */
}




.content {
    display: flex;

}

.left_menu {
    min-width: 22%;
    height: 72vh;
    /* background-color: blue; */
    border-top: white;
    border-style: solid;

    background-color: #131921;
    display: flex;
    flex-direction: row-reverse;

}

.left_navigator {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

    background-color: #131921;
    min-height: 30vh;
    max-height: 30vh;
    width: 100%;
    /* height: 30vh; */

    
    
}
.list {
    
    background-color: #495565;
    background-color: #131921;
    /* width: 100%; */
    color: white;
    text-align: center;
    /* padding: 60px; */
    padding-top: 10px;
    /* border-color: aliceblue; */
    /* border-style: solid; */
    padding-bottom: 10px;
}





.right_menu {
    flex-grow: 1;
    min-width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #bd7e7e; */
}

.order_heading {
    /* background-color: #802b2b; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom:3px;
    width: 85%;
}
.order_box {
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    padding-left: 0%;
    /* background-color: aqua; */
    width: 85%;
    margin-left:20px ;
}

.order_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    
    margin: 7px;
    /* background-color: #495565; */
    border-style: solid;
    border-color: rgb(7, 7, 7);
    border-width: 1px;
}

.section {
    display: flex;
    flex-direction: column;
}

.short_image {
    width: 100px;
    
    /* height: auto; */
}

.order_img{
    width: 100%;
    height:100px ;
    object-fit: contain;
}


.page_nav{
    display: flex;
    width: 85%;
    margin-top: 6px;
    /* background-color: #684d4d; */
    padding-left: 15px;

}

.page_no {
    margin: 2px;
    border-style: solid;
    border-color: rgb(7, 7, 7);
    border-width: 2px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background: rgb(107, 99, 99); */
}